<a href="https://colab.research.google.com/github/eliyanto29/Hobi-Data-Youtube-Channel/blob/main/Dictionary_Pada_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=13fG9iS44Gwu0fO5eAwBlDUETCLrK2vFX
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.


## **Hasil Yang Ingin Dicapai**
1. Memahami Dictionary Pada Python
4. Mengenal dan memahami method-method pada Dictionary Python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [ ]:
#Membuat directory

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [ ]:
#Mengakses nilai directory

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [ ]:
#Mengubah nilai directory

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(thisdict[x])

Toyota
Kijang
2004

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [ ]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [ ]:
#Loop Melalui Directory

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [ ]:
#Mengecek keanggotaan suatu key

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [ ]:
#Menambah item baru pada dictionary

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [ ]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [ ]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [ ]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [ ]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [ ]:
#Menghapus item menggunakan del


#Menghapus item menggunapak method pop()


#Menghapus item menggunakan method popitem()


#Menghapus item menggunakan method clear()

## Menyalin Dictionary

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [ ]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [ ]:
#Menyalin dictionary

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [ ]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [ ]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [ ]:
#Nested dictionary



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## **Clear()**
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict.clear()
print(dict)

{}

## **Copy()**
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015065: 'NIM'}

##**Fromkeys()**
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

# Get()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get('model'))

Mustang

#Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

#**Pop()**

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

#**Popitem()**

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

#**Update()**

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

#**Values()**

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

#len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(car))

3

Di atas sudah dijelaskan berbagai method yang dapat digunakan dalam dictionary python, dan sudah ada beberapa method yang sudah kita coba jalankan di contoh-contoh di atas, sekarang kalian coba jalankan method-method ini supaya lebih paham tentang penggunaan method di atas. Semangattt.