<a href="https://colab.research.google.com/github/eliyanto29/Hobi-Data-Youtube-Channel/blob/main/String_Pada_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1tFIE1xP8ByE0gREyqnkLwZXOWLMNBzxA
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

## **Hasil Yang Ingin Dicapai**
1. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [ ]:
#Contoh :
print("Hello")
print('Hello')

Hello
Hello

Expected output:
```
Hello
Hello
```

In [ ]:
#Mulai Program mu....^_^
print("")
print('')

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [ ]:
#Contoh
a = "Hello"
print(a)

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [ ]:
#Mulai Program mu....^_^

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [ ]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [ ]:
#Mulai Program mu....^_^

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [ ]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [ ]:
#Mulai Program mu....^_^

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
#Contoh
a = "Hello, World!"
print(a[1])

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [ ]:
#Mulai Program mu....^_^

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [ ]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

Expected output:
```
llo
```

In [ ]:
#Mulai Program mu....^_^

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [ ]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

Expected output:
```
orl
```

In [ ]:
#Mulai Program mu....^_^

In [ ]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

Expected Output :
```
13
```

In [ ]:
#Mulai Program mu....^_^

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [ ]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

Expected Output :
```
True
```

In [ ]:
#Mulai Program mu....^_^

In [ ]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

Expected Output :
```
False
```

In [ ]:
#Mulai Program mu....^_^

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [ ]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

Output :
```
HelloWorld
```

In [ ]:
#Mulai Program mu....^_^

In [ ]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Output :
```
Hello World
```

In [ ]:
#Mulai Program mu....

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [ ]:
#Contoh
umur = "20"
txt = "Nama saya Mujhid, saya " + umur
print(txt)

Output :
```
Nama saya Mujhid, saya 20
```

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [ ]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Output :
```
Hello, World!
```

In [ ]:
#Mulai Program Mu....

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [ ]:
#Contoh
a = "HELLO, World!"
print(a.lower())

Output :
```
hello, world!
```

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.upper())

Output :
```
HELLO, WORLD!
```

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Output :
```
Jello, World!
```

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

Output :
```
['Hello', ' World!']
```

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [ ]:
#Contoh
a = "hello, world"
print(a.capitalize())

Output :
```
Hello, world
```

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [ ]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Output :
```
Jumlah : 2
```

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "My name is Mujhid"

x = a.encode()

print(x)

b'My name Mujhid'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "My Name is Mujhid"

x = a.swapcase()

print(x)

Output :
```
mY nAME IS mUJHID
```